html
{
    height: 100%;
}
body
{
    background: linear-gradient(#b409d9, #7f0899);
}
select
{
    font-size: 18px;
    border-radius: 5px;
    width: 80px;
}
.head
{
    margin-left: 7px;
    margin-right:35px;

}
.btn
{
    width: 100px;
}
#submit
{
    margin-left: 20px;
}
label, h3, h4
{
    color: #ece9ec;
}
.show_label
{
    font-size: 18px;
    margin-left: 10px;
}
h3
{
    margin-left: 40px;
}

.panel {
        margin-top: 20px;
        background: none;
    }
.panel-heading{

    background: linear-gradient(#b409d9, #7f0899);
    //background: none;

}

